[Unit]
Description=Imports into wellness.byu.edu from my google spreadsheet

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'cd /home/core/dev/wellness-auto-healthyme; ./go.sh'
